.livvic-thin {
  font-family: "Livvic", serif;
  font-weight: 100;
  font-style: normal;
}

.livvic-extralight {
  font-family: "Livvic", serif;
  font-weight: 200;
  font-style: normal;
}

.livvic-light {
  font-family: "Livvic", serif;
  font-weight: 300;
  font-style: normal;
}

.livvic-regular {
  font-family: "Livvic", serif;
  font-weight: 400;
  font-style: normal;
}

.livvic-medium {
  font-family: "Livvic", serif;
  font-weight: 500;
  font-style: normal;
}

.livvic-semibold {
  font-family: "Livvic", serif;
  font-weight: 600;
  font-style: normal;
}

.livvic-bold {
  font-family: "Livvic", serif;
  font-weight: 700;
  font-style: normal;
}

.livvic-black {
  font-family: "Livvic", serif;
  font-weight: 900;
  font-style: normal;
}

.livvic-thin-italic {
  font-family: "Livvic", serif;
  font-weight: 100;
  font-style: italic;
}

.livvic-extralight-italic {
  font-family: "Livvic", serif;
  font-weight: 200;
  font-style: italic;
}

.livvic-light-italic {
  font-family: "Livvic", serif;
  font-weight: 300;
  font-style: italic;
}

.livvic-regular-italic {
  font-family: "Livvic", serif;
  font-weight: 400;
  font-style: italic;
}

.livvic-medium-italic {
  font-family: "Livvic", serif;
  font-weight: 500;
  font-style: italic;
}

.livvic-semibold-italic {
  font-family: "Livvic", serif;
  font-weight: 600;
  font-style: italic;
}

.livvic-bold-italic {
  font-family: "Livvic", serif;
  font-weight: 700;
  font-style: italic;
}

.livvic-black-italic {
  font-family: "Livvic", serif;
  font-weight: 900;
  font-style: italic;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
}

.header {
  width: 1440px;
  height: 517px;
  background-color: #014E56;
  margin: auto;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 70px 0;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 80px;
}

.logo ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: var(--livvic-semibold-italic);
  font-weight: 600;
  font-size: 18px;
  line-height: 156%;
  color: #fff;
  gap: 40px;
}

.logo a {
  color: #fff;
}

.header .container button {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  line-height: 156%;
  color: #012f34;
  padding: 10px 30px;
  background: transparent;
  border-radius: 24px;
  padding: 9px 30px;
  cursor: pointer;
  border: none;
  border: 1px solid white;
  color: white;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.hero__text {
  margin-top: 40px;
  margin-bottom: 100px;
  font-family: var(--livvic-semibold);
  font-weight: 700;
  font-size: 64px;
  line-height: 156%;
  color: #fff;
}

.hero__info {
  font-family: var(--livvic-semibold);
  font-weight: 600;
  font-size: 18px;
  line-height: 156%;
  color: #fff;
}

.hero__info p {
  width: 680px;
  height: 112px;
}

@media screen and (min-width: 768px) {
  .header {
    width: 768px;
    height: 556px;
    background-color: #014E56;
  }
  .header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 48px;
  }
  .logo ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: var(--livvic-semibold-italic);
    font-weight: 600;
    font-size: 18px;
    line-height: 156%;
    color: #fff;
    gap: 10px;
  }
  .logo a {
    color: #fff;
  }
  .header .container button {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 156%;
    color: #012f34;
    padding: 10px 30px;
    background: transparent;
    border-radius: 24px;
    padding: 9px 30px;
    cursor: pointer;
    border: none;
    border: 1px solid white;
    color: white;
  }
  .hero {
    display: inline;
  }
  .hero__text {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 64px;
    line-height: 87%;
    text-align: center;
    color: #fff;
  }
  .hero__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 15px;
    line-height: 187%;
    text-align: center;
    color: #fff;
  }
  .hero__info p {
    width: 457px;
    height: 140px;
    margin: -60px;
  }
  .rectangle {
    display: none;
  }
}
.services1 {
  width: 1440px;
  height: 1002px;
  background-color: #004047;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services1 .container {
  width: 1110px;
  height: 722px;
}

.services__tittle {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  text-align: center;
  color: #fff;
  padding: 140px 140px 64px;
}

.services1 .container .services__win1 {
  width: 350px;
  height: 281px;
  background: #012F34;
}

.services-win1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 32px 0;
}

.services-win1-fullname h3 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 156%;
  text-align: center;
  color: #79c8c7;
}

.services-win1-fullname p {
  font-family: var(--font-family);
  font-style: italic;
  font-weight: 500;
  font-size: 15px;
  line-height: 167%;
  text-align: center;
  color: #fff;
  margin: 0;
}

.services-win1-fullname img {
  position: relative;
  left: 150px;
  margin-top: 40px;
}

.services1 .container .services__win2 {
  width: 350px;
  height: 281px;
  background: #012F34;
}

.services-win2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 32px 0;
}

.services-win2-fullname h3 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 156%;
  text-align: center;
  color: #79c8c7;
}

.services-win2-fullname p {
  font-family: var(--font-family);
  font-style: italic;
  font-weight: 500;
  font-size: 15px;
  line-height: 167%;
  text-align: center;
  color: #fff;
  margin: 0;
}

.services-win2-fullname img {
  position: relative;
  left: 150px;
  margin-top: 40px;
}

.services1 .container .services__win3 {
  width: 350px;
  height: 281px;
  background: #012F34;
}

.services-win3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 32px 0;
}

.services-win3-fullname h3 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 156%;
  text-align: center;
  color: #79c8c7;
}

.services-win3-fullname p {
  font-family: var(--font-family);
  font-style: italic;
  font-weight: 500;
  font-size: 15px;
  line-height: 167%;
  text-align: center;
  color: #fff;
  margin: 0;
}

.services-win3-fullname img {
  position: relative;
  left: 150px;
  margin-top: 40px;
}

.services1 .container .services__win4 {
  width: 350px;
  height: 281px;
  background: #012F34;
}

.services-win4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 32px 0;
}

.services-win4-fullname h3 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 156%;
  text-align: center;
  color: #79c8c7;
}

.services-win4-fullname p {
  font-family: var(--font-family);
  font-style: italic;
  font-weight: 500;
  font-size: 15px;
  line-height: 167%;
  text-align: center;
  color: #fff;
  margin: 0;
}

.services-win4-fullname img {
  position: relative;
  left: 150px;
  margin-top: 40px;
}

.services1 .container .services__win5 {
  width: 350px;
  height: 281px;
  background: #012F34;
}

.services-win5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 32px 0;
}

.services-win5-fullname h3 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 156%;
  text-align: center;
  color: #79c8c7;
}

.services-win5-fullname p {
  font-family: var(--font-family);
  font-style: italic;
  font-weight: 500;
  font-size: 15px;
  line-height: 167%;
  text-align: center;
  color: #fff;
  margin: 0;
}

.services-win5-fullname img {
  position: relative;
  left: 150px;
  margin-top: 40px;
}

.services1 .container .services__win6 {
  width: 350px;
  height: 281px;
  background: #002529;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services__win6 h3 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 156%;
  text-align: center;
  color: #79c8c7;
  padding: 35px 8px 10px 10px;
}

.services__win6 p {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 15px;
  line-height: 167%;
  text-align: center;
  color: #fff;
  width: 254px;
  margin: 0;
}

.services__win6 img {
  width: 60px;
  height: 20px;
  position: relative;
  left: 100px;
  margin-top: 20px;
}

.button__image img {
  width: 56px;
  height: 56px;
  position: relative;
  left: 110px;
  top: 50px;
  margin: 0;
}

.win__position {
  display: grid;
  grid-template-columns: 400px 400px auto;
  row-gap: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 140px;
}

@media screen and (min-width: 768px) {
  .services1 {
    width: 768px;
    height: 1219px;
    background-color: #004047;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .services1 .container {
    display: inline;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .services__tittle {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    text-align: center;
    color: #fff;
    margin: -30px;
  }
  .services1 .container .services__win1 {
    width: 281px;
    height: 281px;
    background: #012F34;
  }
  .services-win1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 32px 0;
  }
  .services-win1-fullname h3 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 156%;
    text-align: center;
    color: #79c8c7;
  }
  .services-win1-fullname p {
    font-family: var(--font-family);
    font-style: italic;
    font-weight: 500;
    font-size: 15px;
    line-height: 167%;
    text-align: center;
    color: #fff;
    margin: 0;
  }
  .services-win1-fullname img {
    position: relative;
    left: 120px;
    margin-top: 40px;
  }
  .services1 .container .services__win2 {
    width: 281px;
    height: 281px;
    background: #012F34;
  }
  .services-win2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 32px 0;
  }
  .services-win2-fullname h3 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 156%;
    text-align: center;
    color: #79c8c7;
  }
  .services-win2-fullname p {
    font-family: var(--font-family);
    font-style: italic;
    font-weight: 500;
    font-size: 15px;
    line-height: 167%;
    text-align: center;
    color: #fff;
    margin: 0;
  }
  .services-win2-fullname img {
    position: relative;
    left: 120px;
    margin-top: 40px;
  }
  .services1 .container .services__win3 {
    width: 281px;
    height: 281px;
    background: #012F34;
  }
  .services-win3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 32px 0;
  }
  .services-win3-fullname h3 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 156%;
    text-align: center;
    color: #79c8c7;
  }
  .services-win3-fullname p {
    font-family: var(--font-family);
    font-style: italic;
    font-weight: 500;
    font-size: 15px;
    line-height: 167%;
    text-align: center;
    color: #fff;
    margin: 0;
  }
  .services-win3-fullname img {
    position: relative;
    left: 120px;
    margin-top: 40px;
  }
  .services1 .container .services__win4 {
    width: 281px;
    height: 281px;
    background: #012F34;
  }
  .services-win4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 32px 0;
  }
  .services-win4-fullname h3 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 156%;
    text-align: center;
    color: #79c8c7;
  }
  .services-win4-fullname p {
    font-family: var(--font-family);
    font-style: italic;
    font-weight: 500;
    font-size: 15px;
    line-height: 167%;
    text-align: center;
    color: #fff;
    margin: 0;
  }
  .services-win4-fullname img {
    position: relative;
    left: 120px;
    margin-top: 40px;
  }
  .services1 .container .services__win5 {
    width: 281px;
    height: 281px;
    background: #012F34;
  }
  .services-win5 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 32px 0;
  }
  .services-win5-fullname h3 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 156%;
    text-align: center;
    color: #79c8c7;
  }
  .services-win5-fullname p {
    font-family: var(--font-family);
    font-style: italic;
    font-weight: 500;
    font-size: 15px;
    line-height: 167%;
    text-align: center;
    color: #fff;
    margin: 0;
  }
  .services-win5-fullname img {
    position: relative;
    left: 120px;
    margin-top: 40px;
  }
  .services1 .container .services__win6 {
    width: 281px;
    height: 281px;
    background: #002529;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .services__win6 h3 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 156%;
    text-align: center;
    color: #79c8c7;
    padding: 35px 8px 10px 10px;
  }
  .services__win6 p {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 15px;
    line-height: 167%;
    text-align: center;
    color: #fff;
    width: 254px;
    margin: 0;
  }
  .services__win6 img {
    width: 60px;
    height: 20px;
    position: relative;
    left: 100px;
    margin-top: 20px;
  }
  .button__image img {
    width: 56px;
    height: 56px;
    position: relative;
    left: 80px;
    top: 50px;
    margin: 0;
  }
  .win__position {
    display: grid;
    grid-template-columns: 300px 300px;
    row-gap: 60px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.services2 .container {
  width: 1440px;
  height: 437px;
  background-color: #012F34;
  margin: auto;
}

.services2 .container h2 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  text-align: center;
  color: #fff;
  padding-top: 140px;
  padding-left: 260px;
  padding-right: 260px;
}

.services2 .container img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1110px;
  height: 45px;
  margin-top: 64px;
  margin-left: 165px;
  margin-right: 165px;
}

@media screen and (min-width: 768px) {
  .services2 .container {
    width: 768px;
    height: 308px;
    background-color: #012F34;
    margin: auto;
  }
  .services2 .container h2 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    text-align: center;
    color: #fff;
    padding: 80px 20px 20px;
  }
  .services2 .container img {
    width: 689px;
    height: 35px;
    margin-top: 30px;
    margin-bottom: 0;
    margin-left: 40px;
  }
}
.services3 .container {
  width: 1440px;
  height: 200px;
  background-color: #f67e7e;
  margin: auto;
}

.service3-elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 290px;
  padding: 76px;
  margin-left: 263px;
}

.service3-elements h2 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  color: #012f34;
}

.service3-elements button {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  line-height: 156%;
  color: #012f34;
  padding: 10px 30px;
  background: transparent;
  border-radius: 24px;
  padding: 9px 30px;
  cursor: pointer;
  border: none;
  border: 1px solid white;
  color: #012f34;
  border: 1px solid #012f34;
}

@media screen and (min-width: 768px) {
  .services3 .container {
    width: 768px;
    height: 200px;
    background-color: #f67e7e;
    margin: auto;
  }
  .service3-elements {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 110px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .service3-elements h2 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    color: #012f34;
  }
  .service3-elements button {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 156%;
    color: #012f34;
    padding: 10px 30px;
    background: transparent;
    border-radius: 24px;
    padding: 9px 30px;
    cursor: pointer;
    border: none;
    border: 1px solid white;
    color: #012f34;
    border: 1px solid #012f34;
  }
}
.footer .container {
  width: 1440px;
  height: 200px;
  background-color: #002529;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 48px;
}

.footer__logo ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  padding-top: 25px;
}

.footer__logo a {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  line-height: 156%;
  color: #fff;
}

.footer__navbars1 a {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 15px;
  line-height: 167%;
  color: #fff;
  opacity: 0.6;
}

.footer__navbar2 img {
  position: relative;
  left: 50%;
}

.footer__navbar2 h3 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 15px;
  line-height: 167%;
  text-align: right;
  color: #fff;
  opacity: 0.6;
  padding-top: 51px;
}

@media screen and (min-width: 768px) {
  .footer .container {
    width: 768px;
    height: 271px;
    background-color: #002529;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 48px;
  }
  .footer__logo ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 40px;
    padding-top: 25px;
  }
  .footer__logo a {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 156%;
    color: #fff;
  }
  .footer__navbars1 a {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 15px;
    line-height: 167%;
    color: #fff;
    opacity: 0.6;
  }
  .footer__navbar2 img {
    position: relative;
    left: 50%;
  }
  .footer__navbar2 h3 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 15px;
    line-height: 167%;
    text-align: right;
    color: #fff;
    opacity: 0.6;
    padding-top: 51px;
  }
}/*# sourceMappingURL=main.css.map */