
// Responsive
///////////////////////////////////////////////////////////////




.header {
    width: 1440px;
    height: 517px;
    background-color: $_color1;
    margin: auto;
}

.header .container {
    display: flex;
    justify-content: space-around;
    padding: 70px 0;
}

.logo {
    display: flex;
    align-items: center;
    gap: 80px;
}

.logo ul {
    display: flex;
    font-family: var(--livvic-semibold-italic);
    font-weight: 600;
    font-size: 18px;
    line-height: 156%;
    color: #fff;
    gap: 40px;
}

.logo a {
    color: #fff;
}

.header .container button {
    @include btn;
    color: white;
}

// Hero page
//////////////////////////////////////////////

.hero {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.hero__text {
    margin-top: 40px;
    margin-bottom: 100px;
    font-family: var(--livvic-semibold);
    font-weight: 700;
    font-size: 64px;
    line-height: 156%;
    color: #fff;
}

.hero__info {
    font-family: var(--livvic-semibold);
    font-weight: 600;
    font-size: 18px;
    line-height: 156%;
    color: #fff;
}

.hero__info p {
    width: 680px;
    height: 112px;
}


// Background image
//////////////////////////////////////////////

// .bg__photo1 {
//     position:absolute;
//     left: 1380px;
//     top: 20rem;
// }

@media screen and (min-width:768px) {
    .header {
        width: 768px;
        height: 556px;
        background-color: $_color1;
    }
    
    .header .container {
        display: flex;
        justify-content: space-around;
    }

    .logo {
        display: flex;
        align-items: center;
        gap: 48px;
    }
    
    .logo ul {
        display: flex;
        font-family: var(--livvic-semibold-italic);
        font-weight: 600;
        font-size: 18px;
        line-height: 156%;
        color: #fff;
        gap: 10px;
    }

    .logo a {
        color: #fff;
    }
    
    .header .container button {
        @include btn;
        color: white;
    }

    // Hero page
    //////////////////////////////////////////////
    .hero {
        display: inline;
    }

    .hero__text {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 64px;
        line-height: 87%;
        text-align: center;
        color: #fff;
    }

    .hero__info {
        display: flex;
        justify-content: center;
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 15px;
        line-height: 187%;
        text-align: center;
        color: #fff;

    }
    
    .hero__info p {
        width: 457px;
        height: 140px;
        margin: -60px;
    }

    .rectangle{
        display: none;
    }
}
