

.header {
    width: 1440px;
    background-color: $_color1;
    margin: auto;
}

.header .container {
    display: flex;
    justify-content: space-around;
    padding: 70px 0;
}


.bg__photo1 {
    position:absolute;
    left: 1380px;
    top: 18rem;
}




.logo {
    display: flex;
    align-items: center;
    gap: 80px;
}
.logo ul {
    display: flex;
    font-family: var(--livvic-semibold-italic);
    font-weight: 600;
    font-size: 18px;
    line-height: 156%;
    color: #fff;
    gap: 40px;
}

.logo a {
    color: #fff;
}



.header .container button {
    border: 2px solid #fff;
    border-radius: 24px;
    padding: 10px 30px;
    background: transparent;
    font-family: var(--livvic-semibold-italic);
    font-weight: 600;
    font-size: 18px;
    line-height: 156%;
    color: #fff;
    cursor: pointer;
}

